<h1><a href="/">Survey Database</a></h1>
<h3>Create a Survey below</h3>


<form action="/" method="post">
  <label for="name">Name your survey:</label>
  <input type="text" name="name" id="name">
  <button type="submit" class="btn">Add</button>

</form>

<p> Here are your surveys: </p>
<% if @surveys.any?() %>
  <% @surveys.each() do |survey| %>
    <ul>
      <li><a href="/surveys/<%=survey.id() %>"><%= survey.name() %></a></li>
    </ul>
  <%end%>
<% else%>
  <p> No surveys have been created yet </p>
<%end%>
