<div class="jumbotron">
  <h1>Survey Wonderland</h1>
  <h2>Choose your survey status:</h2><br>
  <div class="row">
    <div class="col-md-2">
      <a href="/" class="btn btn-large btn-primary">Designer</a>
    </div>
    <div class="col-md-10">
      <a href="/participant/main" class="btn btn-large btn-primary">Participant</a>
    </div>
  </div>

</div>
